<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <link rel="stylesheet" href="css/app.css">

  <title>Sandwich maker</title>


</head>
<body>

	<div class="row">
    <div  class=" columns small-12 ">
      <h1>Sandwich Listing</h1>
      <p>This is a simple test for backboneJS to add and list your favorite sandwiches.  This is still in development.
      <br>
      Code for this site is hosted <a href="https://bitbucket.org/kei_sato/backbone-test">here</a>.
      </p>
    </div>
    <div id="new-sandwich"  class=" columns small-12 medium-6">
      <button id="add">Add a Sandwich!</button>

      <script type="text/template" id="sandwich-form">
        <form id="rendered-form">
          <label for='name'>Name of your sandwich</label>
          <input type='text' id='name'>
          <label for='bread'>Bread of your sandwich</label>
          <input type='text' id='bread'>
          <label for='meat'>Meat of your sandwich</label>
          <input type='text' id='meat'>
          <label for='toppings'>List some toppings or sauces for your sandwich</label>
          <input type='text' id='toppings'>
          <label for='rating'>How would you rate/describe your sandwich?</label>
          <input type='text' id='rating'>
          <button id='submit'>Submit</button>
        </form>
      </script>
    </div>


    <div id="sandwich"  class=" columns small-12 medium-6">
      <h3>Sandwiches</h3>
	  	<ul id="sandwich-list">
        <script type="text/template" id="sandwich-template">

          <% _.each(list, function(item){ %>
            <li>
              <div class='name'><%= item['name'] %> </div>
              <div class='name'><%= item['bread'] %> </div>
              <div class='name'><%= item['meat'] %> </div>
              <div class='name'><%= item['toppings'] %> </div>
              <div class='name'><%= item['rating'] %> </div>
            </li>
          <% }); %>

        </script>

      </ul>
	  </div>


  </div>


</body>

  <script src="js/base.js"></script>
  <script src="js/main.js"></script>
</html>
