@import 'foundation';

body {
	padding-left: 25px;
	padding-right: 25px;
}

#sandwich-form {
	button {
		display: block;
		margin-top: 30px;
	}
}

#sandwich-list {
	list-style: decimal;

	li {
		margin-bottom: 20px;
	}

}
